package-manager-strict=false
onlyBuiltDependencies[]=argon2
onlyBuiltDependencies[]=cpu-features
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=msgpackr-extract
onlyBuiltDependencies[]=protobufjs
onlyBuiltDependencies[]=ssh2
