package-manager-strict=false
public-hoist-pattern[]=@types/*
onlyBuiltDependencies[]=argon2
onlyBuiltDependencies[]=cpu-features
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=msgpackr-extract
onlyBuiltDependencies[]=protobufjs
onlyBuiltDependencies[]=ssh2
