apiVersion: v1
kind: Secret
metadata:
  name: alertmanager-webhooks
type: Opaque
stringData:
  FEISHU_WEBHOOK: '<REPLACE_ME_FEISHU_WEBHOOK_URL>'
  DINGTALK_WEBHOOK: '<REPLACE_ME_DINGTALK_WEBHOOK_URL>'
