apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  labels:
    app: postgres
type: Opaque
stringData:
  DATABASE_URL: 'postgresql://backtest_app:<REPLACE_ME_APP_PW>@postgres:5432/backtest'
  POSTGRES_USER: 'backtest'
  POSTGRES_PASSWORD: '<REPLACE_ME>'
  POSTGRES_DB: 'backtest'
  APP_PASSWORD: '<REPLACE_ME_APP_PW>'
